* {
  text-align: center;
}

.square {
  border: 2px solid black;
  font-size: 10rem;
  height: 200px;
  text-align: center;
  width: 200px;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 620px;
}