* {
  margin: 1em;
  text-align: center;
  font-family: monospace;
  font-size: larger;
}

body {
  background-color: rgb(203, 203, 203);
}

.box {
  border: 2px solid black;
  height: 300px;
  width: 300px;
  margin: 20px;
  /* Mal is the best NO COMMAS */
}

.color-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  margin-left: 10px;
}

/* our inline styles on Box.js vs our App.css */
/* style={{ border: "2px solid black", height: "100px", width: "100px" }} */